<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexa Project</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <img src="/logo.png" alt="Logo" class="logo">
        <h1>Nexa Bot Dashboard</h1>
        <p>Bot sedang aktif dan siap melayani server kamu.</p>
        
        <div class="menu">
            <a href="/dasboard" class="btn">Buka Panel Statistik</a>
            <a href="/lobby_discord" class="btn">Join Discord</a>
        </div>
    </div>
</body>
</html>
