body {
    background-color: #0f0f0f;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

.logo {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5865F2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.btn:hover {
    background-color: #4752c4;
    
}
